<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Arial,serif;font-size:35.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:35.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:35.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:35.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:10.6px;color:rgb(37,37,38);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:10.6px;color:rgb(37,37,38);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:8.8px;color:rgb(102,102,102);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:8.8px;color:rgb(102,102,102);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:10.6px;color:rgb(37,37,38);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:10.6px;color:rgb(37,37,38);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:9.7px;color:rgb(37,37,38);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:9.7px;color:rgb(37,37,38);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="e9b3ccd4-5fdc-11ec-a980-0cc47a792c0a_id_e9b3ccd4-5fdc-11ec-a980-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
</div>
<div style="position:absolute;left:15.00px;top:46.44px" class="cls_002"><span class="cls_002">AMIT</span><span class="cls_003"> MISHRA</span></div>
<div style="position:absolute;left:15.00px;top:93.49px" class="cls_004"><span class="cls_004">ASP.NET DEVELOPER</span></div>
<div style="position:absolute;left:21.00px;top:156.73px" class="cls_005"><span class="cls_005">CONTACTS</span></div>
<div style="position:absolute;left:225.16px;top:179.23px" class="cls_005"><span class="cls_005">WORK EXPERIENCE</span></div>
<div style="position:absolute;left:42.81px;top:195.74px" class="cls_006"><span class="cls_006">9099801980</span></div>
<div style="position:absolute;left:42.81px;top:218.99px" class="cls_006"><span class="cls_006">amitmishra0321@gmail.com</span></div>
<div style="position:absolute;left:225.16px;top:214.99px" class="cls_008"><span class="cls_008">FULL STACK .NET DEVELOPER - SPRIGSTACK - AHMEDABAD</span></div>
<div style="position:absolute;left:225.16px;top:230.74px" class="cls_007"><span class="cls_007">Dec 2018 - Present</span></div>
<div style="position:absolute;left:42.81px;top:242.24px" class="cls_006"><span class="cls_006">B203-Green City, Ahmedabad,</span></div>
<div style="position:absolute;left:225.16px;top:250.24px" class="cls_007"><span class="cls_007">This was a medium sized so  ware development company located in</span></div>
<div style="position:absolute;left:42.81px;top:257.99px" class="cls_006"><span class="cls_006">382721</span></div>
<div style="position:absolute;left:225.16px;top:262.98px" class="cls_007"><span class="cls_007">Ahmedabad. This was a great pla  orm for me to start my career in</span></div>
<div style="position:absolute;left:225.16px;top:275.73px" class="cls_007"><span class="cls_007">programming world. Company mainly worked developing in lots of  custom CRM</span></div>
<div style="position:absolute;left:225.16px;top:288.48px" class="cls_007"><span class="cls_007">portals and many more.</span></div>
<div style="position:absolute;left:225.16px;top:301.23px" class="cls_007"><span class="cls_007">Joined as an intern and was put on learning .net development along</span></div>
<div style="position:absolute;left:225.16px;top:313.98px" class="cls_007"><span class="cls_007">with html, css and javascript. First project assignment was AddressTwo(small crm)</span></div>
<div style="position:absolute;left:21.00px;top:316.48px" class="cls_005"><span class="cls_005">EDUCATION</span></div>
<div style="position:absolute;left:225.16px;top:326.73px" class="cls_007"><span class="cls_007">developed in .net technology with c# and sql server.</span></div>
<div style="position:absolute;left:225.16px;top:339.48px" class="cls_007"><span class="cls_007">Worked  in several other projects as well  in the company.</span></div>
<div style="position:absolute;left:21.00px;top:351.48px" class="cls_008"><span class="cls_008">BACHELOR OF ENGINEERING</span></div>
<div style="position:absolute;left:225.16px;top:352.23px" class="cls_007"><span class="cls_007">Learned great skills of basic programming fundamentals, requirement</span></div>
<div style="position:absolute;left:21.00px;top:363.48px" class="cls_008"><span class="cls_008">AHMEDABAD INSTITUTE OF</span></div>
<div style="position:absolute;left:225.16px;top:364.98px" class="cls_007"><span class="cls_007">gatherings, project development in step by step process and</span></div>
<div style="position:absolute;left:21.00px;top:375.48px" class="cls_008"><span class="cls_008">TECHNOLOGY</span></div>
<div style="position:absolute;left:225.16px;top:377.73px" class="cls_007"><span class="cls_007">coordina  on with other team members including members from</span></div>
<div style="position:absolute;left:21.00px;top:387.48px" class="cls_008"><span class="cls_008">AHMEDABAD</span></div>
<div style="position:absolute;left:225.16px;top:390.48px" class="cls_007"><span class="cls_007">design or QA team.</span></div>
<div style="position:absolute;left:21.00px;top:403.99px" class="cls_007"><span class="cls_007">2019</span></div>
<div style="position:absolute;left:225.16px;top:403.24px" class="cls_007"><span class="cls_007">CRM solu  on developed in asp.net MVCframework using c#, LINQ and sql</span></div>
<div style="position:absolute;left:225.16px;top:415.99px" class="cls_007"><span class="cls_007">Joined as a .NET programmer to work in different projects/modules as per compa</span></div>
<div style="position:absolute;left:225.16px;top:428.74px" class="cls_007"><span class="cls_007">requirements.</span></div>
<div style="position:absolute;left:225.16px;top:441.49px" class="cls_007"><span class="cls_007">Learned Microso   As.Net and laravel as working with one of requested project by</span></div>
<div style="position:absolute;left:225.16px;top:454.24px" class="cls_007"><span class="cls_007">server. This portal also provides API integra  on for third par  es whichisdeveloped</span></div>
<div style="position:absolute;left:21.00px;top:461.23px" class="cls_005"><span class="cls_005">LINKS</span></div>
<div style="position:absolute;left:225.16px;top:466.99px" class="cls_007"><span class="cls_007">.net MVCarchitecture.</span></div>
<div style="position:absolute;left:225.16px;top:479.74px" class="cls_007"><span class="cls_007">Learned a lot about different back-end/front-end programming</span></div>
<div style="position:absolute;left:225.16px;top:492.49px" class="cls_007"><span class="cls_007">aspects as this was early stage of my career.</span></div>
<div style="position:absolute;left:21.00px;top:496.99px" class="cls_009"><span class="cls_009">LinkedIn:</span></div>
<div style="position:absolute;left:21.00px;top:511.23px" class="cls_007"><span class="cls_007"> </span><A HREF="https://www.linkedin.com/in/amit-mishra-540645177">h ps://www.linkedin.com/in/amit-mis</A> </div>
<div style="position:absolute;left:21.00px;top:527.73px" class="cls_007"><span class="cls_007"> </span><A HREF="https://www.linkedin.com/in/amit-mishra-540645177">hra-540645177</A> </div>
<div style="position:absolute;left:225.16px;top:562.47px" class="cls_005"><span class="cls_005">Projects</span></div>
<div style="position:absolute;left:21.00px;top:587.97px" class="cls_005"><span class="cls_005">SKILLS</span></div>
<div style="position:absolute;left:225.16px;top:597.48px" class="cls_008"><span class="cls_008">ADDRESSTWO - SMALL BUSINESS CRM</span></div>
<div style="position:absolute;left:21.00px;top:623.11px" class="cls_010"><span class="cls_010">ASP.NET</span></div>
<div style="position:absolute;left:227.86px;top:619.98px" class="cls_007"><span class="cls_007">-h  ps://addresstwo.com/</span></div>
<div style="position:absolute;left:225.16px;top:632.73px" class="cls_007"><span class="cls_007">-CRM solu  on developed in asp.net MVC framework using c#, LINQ and</span></div>
<div style="position:absolute;left:21.00px;top:647.86px" class="cls_010"><span class="cls_010">MVC</span></div>
<div style="position:absolute;left:230.55px;top:645.48px" class="cls_007"><span class="cls_007">sql server. This portal also provides API integra  on for third par  es which</span></div>
<div style="position:absolute;left:230.55px;top:658.23px" class="cls_007"><span class="cls_007">is developed using Web API .net MVC architecture.</span></div>
<div style="position:absolute;left:21.00px;top:671.86px" class="cls_010"><span class="cls_010">C#</span></div>
<div style="position:absolute;left:225.16px;top:670.98px" class="cls_007"><span class="cls_007">- Handling team of 2 junior developers for the same project.</span></div>
<div style="position:absolute;left:225.16px;top:683.73px" class="cls_007"><span class="cls_007">- Managing full project using my technical and managerial skills. Frontend</span></div>
<div style="position:absolute;left:21.00px;top:696.61px" class="cls_010"><span class="cls_010">SQL</span></div>
<div style="position:absolute;left:233.24px;top:696.48px" class="cls_007"><span class="cls_007">is developed using bootstrap, html, css, javascript, jquery, ajax, ckeditor</span></div>
<div style="position:absolute;left:230.55px;top:709.23px" class="cls_007"><span class="cls_007">and other web technologies. Back-end is developed using .net MVC</span></div>
<div style="position:absolute;left:21.00px;top:720.61px" class="cls_010"><span class="cls_010">WEB API</span></div>
<div style="position:absolute;left:230.55px;top:721.98px" class="cls_007"><span class="cls_007">architecture and database is stored in SQL server.</span></div>
<div style="position:absolute;left:225.16px;top:734.73px" class="cls_007"><span class="cls_007">- Product has more that 5000 paid customers now and genera  ng good</span></div>
<div style="position:absolute;left:21.00px;top:745.36px" class="cls_010"><span class="cls_010">LINQ</span></div>
<div style="position:absolute;left:233.24px;top:747.48px" class="cls_007"><span class="cls_007">revenue for its founder.</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:802px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
</div>
<div style="position:absolute;left:21.00px;top:25.36px" class="cls_010"><span class="cls_010">HTML</span></div>
<div style="position:absolute;left:225.16px;top:25.23px" class="cls_008"><span class="cls_008">SECUREDROOFING - INVENTORY MANAGEMENT SYSTEM</span></div>
<div style="position:absolute;left:225.16px;top:47.73px" class="cls_007"><span class="cls_007">- h  ps://securedroofing.azurewebsites.net</span></div>
<div style="position:absolute;left:21.00px;top:53.11px" class="cls_010"><span class="cls_010">CSS</span></div>
<div style="position:absolute;left:225.16px;top:60.48px" class="cls_007"><span class="cls_007">-SecuredReoofing is developed in asp.net MVC</span></div>
<div style="position:absolute;left:230.55px;top:73.23px" class="cls_007"><span class="cls_007">framework using c#, LINQ and sql server(Azure).</span></div>
<div style="position:absolute;left:21.00px;top:77.86px" class="cls_010"><span class="cls_010">JAVASCRIPT</span></div>
<div style="position:absolute;left:225.16px;top:85.98px" class="cls_007"><span class="cls_007">- Handling 1 junior developers for the same project.</span></div>
<div style="position:absolute;left:21.00px;top:101.86px" class="cls_010"><span class="cls_010">JQUERY</span></div>
<div style="position:absolute;left:225.16px;top:98.73px" class="cls_007"><span class="cls_007">- Frontend is developed using bootstrap, html, css, javascript, jquery, ajax</span></div>
<div style="position:absolute;left:230.55px;top:111.48px" class="cls_007"><span class="cls_007">and other web technologies. Back-end is developed using .net MVC</span></div>
<div style="position:absolute;left:21.00px;top:126.61px" class="cls_010"><span class="cls_010">CRM</span></div>
<div style="position:absolute;left:230.55px;top:124.23px" class="cls_007"><span class="cls_007">architecture and database is stored in SQL server on Azure.</span></div>
<div style="position:absolute;left:21.00px;top:150.61px" class="cls_010"><span class="cls_010">THIRD PARTY APP INTEGRATION</span></div>
<div style="position:absolute;left:225.16px;top:164.73px" class="cls_008"><span class="cls_008">DIRECT CARE CONNECT (DCC)</span></div>
<div style="position:absolute;left:21.00px;top:175.36px" class="cls_010"><span class="cls_010">PHP/LARAVEL</span></div>
<div style="position:absolute;left:225.16px;top:187.23px" class="cls_007"><span class="cls_007">- h  p://guardian.therapycorner.com</span></div>
<div style="position:absolute;left:21.00px;top:199.36px" class="cls_010"><span class="cls_010">BOOTSTRAP</span></div>
<div style="position:absolute;left:225.16px;top:199.98px" class="cls_007"><span class="cls_007">- DCC is developed in asp.net MVC framework using c# and sql</span></div>
<div style="position:absolute;left:230.55px;top:212.73px" class="cls_007"><span class="cls_007">server(Azure).</span></div>
<div style="position:absolute;left:225.16px;top:225.48px" class="cls_007"><span class="cls_007">- Frontend is developed using bootstrap, html, css, javascript, jquery, ajax</span></div>
<div style="position:absolute;left:230.55px;top:238.23px" class="cls_007"><span class="cls_007">and other web technologies. Back-end is developed using .net MVC</span></div>
<div style="position:absolute;left:230.55px;top:250.98px" class="cls_007"><span class="cls_007">architecture and database is stored in SQL server on Azure.</span></div>
<div style="position:absolute;left:21.00px;top:256.47px" class="cls_005"><span class="cls_005">PERSONAL DETAILS</span></div>
<div style="position:absolute;left:225.16px;top:280.23px" class="cls_008"><span class="cls_008">PANELHIVE (EVENT MANAGEMENT SYSTEM)</span></div>
<div style="position:absolute;left:21.00px;top:292.23px" class="cls_008"><span class="cls_008">Date of birth</span></div>
<div style="position:absolute;left:21.00px;top:304.98px" class="cls_007"><span class="cls_007">17-05-1996</span></div>
<div style="position:absolute;left:225.16px;top:302.73px" class="cls_007"><span class="cls_007">- PanelHive is developed in Laravel framework using PHP.</span></div>
<div style="position:absolute;left:225.16px;top:315.48px" class="cls_007"><span class="cls_007">- Frontend is developed using bootstrap, html, css, javascript, jquery, ajax</span></div>
<div style="position:absolute;left:21.00px;top:328.23px" class="cls_008"><span class="cls_008">Na  onality</span></div>
<div style="position:absolute;left:233.24px;top:328.23px" class="cls_007"><span class="cls_007">andother web technologies.</span></div>
<div style="position:absolute;left:21.00px;top:340.98px" class="cls_007"><span class="cls_007">Hindu</span></div>
<div style="position:absolute;left:21.00px;top:364.23px" class="cls_008"><span class="cls_008">Marital status</span></div>
<div style="position:absolute;left:21.00px;top:376.98px" class="cls_007"><span class="cls_007">Single</span></div>
<div style="position:absolute;left:225.16px;top:398.22px" class="cls_005"><span class="cls_005">Summery</span></div>
<div style="position:absolute;left:225.16px;top:444.48px" class="cls_007"><span class="cls_007">My current objec  ve is to be part of some great tech</span></div>
<div style="position:absolute;left:225.16px;top:457.23px" class="cls_007"><span class="cls_007">company as a full stack programmer or senior .net developer.</span></div>
</div>

</body>
</html>
